{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>MentorConnect</h1>

    <p style="text-align:center; font-size:20px;">

        Connect with experienced mentors for internships,
        placements, resume reviews, higher studies guidance,
        and career development.

    </p>

    <br>

    <p style="text-align:center;">

        A structured mentorship platform built for students and alumni.

    </p>

    <br>

    <button onclick="window.location.href='/register'">

        Get Started

    </button>

</div>

{% endblock %}